LPProblemsSolver/.idea/vcs.xml
LPProblemsSolver/.idea/inspectionProfiles/profiles_settings.xml
LPProblemsSolver/.idea/LPProblemsSolver.iml
LPProblemsSolver/.idea/misc.xml
LPProblemsSolver/.idea/modules.xml
LPProblemsSolver/.idea/vcs.xml
LPProblemsSolver/.idea/vcs.xml
LPProblemsSolver/.idea/vcs.xml
.DS_Store
LPProblemsSolver/.idea/vcs.xml
